<html>
    
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- <div class="navbar-header">
            <a href="#" class="navbar-brand">Jira</a>
        </div> -->
            <div class="collaps navbar-collaps">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="navbar-brand" style="color: aliceblue;">Jira</a></li>
                    <li><a href="#" class="navbar-brand" style="color: aliceblue;">Sharepoint</a></li>
                    <li><a href="#" class="navbar-brand" style="color: aliceblue;">Pagerduty</a></li>
                    <li><a href="#" class="navbar-brand" style="color: aliceblue;">AppD</a></li>
                </ul>
           
                <!-- <ul class="nav navbar-nav navbar-right">  
                <input type="search" id="form1" class="form-control" />
            </ul> -->
                <form class="nav navbar-nav navbar-right">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                </form>
            </div>

        </div>
    </nav>
    <hr class="line">
    <br>
    <div class="sys">
        <h2 style="text-align: center;">SDESystems Architecture</h2>
    </div>
    <br>
    <!-- <div class="text-center">
        <button type="button" href="#popup1" class="btn btn-default">Login</button>
    </div> -->
    <div class="box">
        <!-- <a class="button" href="#popup1">Login</a> -->
        <a class="button" routerLink="/home">Login</a>
    </div>

    <!-- <div id="popup1" class="overlay">
        <div class="popup">
            <a class="close" href="#">&times;</a>
            <div class="content">
              <span> NTID    :   <input type="text" placeholder="Username" name="usr" id="psw" required></span><br><br>
               <span>PASSWORD :   <input type="password" placeholder="Password" name="psw" id="psw" required></span>
            </div>
        </div>
    </div> -->
</body></html>
<router-outlet></router-outlet>