<html>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collaps navbar-collaps">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="navbar-brand" style="color: rgb(0, 0, 0);">Infrastructure Details</a></li>
                </ul>
            </div>
            <form class="nav navbar-nav navbar-right">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
              </form>
        </div>
    </nav>
    <hr class="line">
    <br>
    <div class="sidenav">
            <a class="button" href="#" target="_self"> Business Services</a>
            <a class="button" href=""> CCID</a>
            <a class="button" href=""> ACMS</a>
            <a class="button" href=""> BIF</a>
            <a class="button" href=""> SPQA</a>
    </div>
</body>

</html>