<html>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collaps navbar-collaps">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="navbar-brand" style="color: rgb(0, 0, 0);">Infrastructure Details</a></li>
                </ul>
            </div> 
            <form class="nav navbar-nav navbar-right">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
             </form>
        </div>
    </nav>
    <hr class="line">
    <br>
    <div class="sidenav">
            <a class="button" href="#" target="_self"> Business Services</a>
            <a class="button" href=""> CCID</a>
            <a class="button" href=""> ACMS</a>
            <a class="button" href=""> BIF</a>
            <a class="button" href=""> SPQA</a>
    </div>

    <table>
        <thead>
            <th>Change Control</th>
            <th>Used For</th>
        </thead>
        <tbody>
            <tr *ngFor="let data of servers">
                <td>{{data.dvChangeControl}}</td>
                <td>{{data.dvClassification}}</td>
            </tr>
        </tbody>
    </table>

</body>

</html>
<!-- <div>
    <h1>Home</h1>
    <p>{{bodyText}}</p>
    <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
    <button (click)="openModal('custom-modal-2')">Open Modal 2</button>
</div>

<jw-modal id="custom-modal-1">
    <h1>A Custom Modal!</h1>
    <!-- <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p> -->
    <!-- <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>

<jw-modal id="custom-modal-2">
    <h1 style="height:1000px">A Tall Custom Modal!</h1>
    <button (click)="closeModal('custom-modal-2');">Close</button>
</jw-modal> --> 