<html>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collaps navbar-collaps">
                <button class="linebar">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </button>
                <ul class="nav navbar-nav">
                    <li><a href="#" class="navbar-brand" style="color: rgb(0, 0, 0);">SDESystems Architecture</a></li>
                </ul>
            </div>

        </div>
    </nav>
    <hr class="line">
    <br>
    <!-- <ng-sidebar-container>
       <ng-sidebar [opened]="opened">
           <p>Sidebar Contents</p>
           <button (click) = "toggleSidebar()">Close Sidebar</button> -->

    <div class="sidenav">
        <div class="homebox">
            <button type="button"  ḍata-toggle="modal" data-target="#viewinfrapopup"> ViewInfra</button>
            <a class="button" href=""> Monitoring</a>
            <a class="button" href=""> CICD</a>
            <a class="button" href=""> Alerting</a>
            <a class="button" href=""> OS Patching</a>
        </div>
    </div>
    <!-- </ng-sidebar>
       <div ng-sidebar-content>
           <button (click)="toggleSidebar()" class="sidebarbutton">
                Open Sidebar
           </button>
       </div>
   </ng-sidebar-container> -->
   <div class="modal fade" id="viewinfrapopup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="float-right mr-1">
                <button  style="background-color: blue; color: white; padding: 5px 5px;" type="button" class="close " data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="modal-body">
                <h3 class="text-success">hhhh</h3>
                
            </div>
        </div>
    </div>
</div>
</body>

<!-- <div class="card-body table-wrap"> -->

</html>