<html>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collaps navbar-collaps">
                <button class="linebar">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                    </button>
                <ul class="nav navbar-nav">
                    <li><a href="#" class="navbar-brand" style="color: rgb(0, 0, 0);">SDESystems Architecture</a></li>
                </ul>
            </div>

        </div>
    </nav>
    <hr class="line">
    <br>
    <!-- <ng-sidebar-container>
       <ng-sidebar [opened]="opened">
           <p>Sidebar Contents</p>
           <button (click) = "toggleSidebar()">Close Sidebar</button> -->

    <div class="sidenav">
        <div class="homebox">
            <a class="button" href="/viewinfra" target="_self"> ViewInfra</a>
            <a class="button" href=""> Monitoring</a>
            <a class="button" href=""> CICD</a>
            <a class="button" href=""> Alerting</a>
            <a class="button" href=""> OS Patching</a>
        </div>
    </div>
    <!-- </ng-sidebar>
       <div ng-sidebar-content>
           <button (click)="toggleSidebar()" class="sidebarbutton">
                Open Sidebar
           </button>
       </div>
   </ng-sidebar-container> -->
</body>

</html>