<html>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collaps navbar-collaps">
                <button class="linebar">
                    <div class="one"></div>
                    <div class="two"></div>
                    <div class="three"></div>
                </button>
                <ul class="nav navbar-nav">
                    <li><a href="#" class="navbar-brand" style="color: rgb(0, 0, 0);">SDESystems Architecture</a></li>
                </ul>
            </div>

        </div>
    </nav>
    <hr class="line">
    <br>
    <!-- <ng-sidebar-container>
       <ng-sidebar [opened]="opened">
           <p>Sidebar Contents</p>
           <button (click) = "toggleSidebar()">Close Sidebar</button> -->

    <div class="sidenav">
        <div class="homebox">
            <!-- opens another component -->
            <a class="button" (click)="openDialog()"> ViewInfra</a>
            <!-- opens modal within the component u -->
            <a class="button" (click)="viewInfra()"> Modal</a>
            <a class="button" href=""> Monitoring</a>
            <a class="button" href=""> CICD</a>
            <a class="button" href=""> Alerting</a>
            <a class="button" href=""> OS Patching</a>
        </div>
    </div>
    <!-- </ng-sidebar>
       <div ng-sidebar-content>
           <button (click)="toggleSidebar()" class="sidebarbutton">
                Open Sidebar
           </button>
       </div>
   </ng-sidebar-container> -->
    <div class="modal fade" id="viewinfrapopup" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">HEADER</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                </div>
                <div class="modal-body">
                    <p>BODY</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>